{% extends './body.html' %}
{% load project_tags project_filters %}
{% block base %}
    <base href="{% scheme %}{{ '://'|add:site.domain|safe }}">
{% endblock %}
{% block title %}
    <title>{{ 'Sign in - Accounts - '|add:site_name|safe }}</title>
{% endblock %}
{% block canonical %}
    <link rel="canonical" href="{% url 'sign_in' %}">
{% endblock %}
{% block content %}
    <main class="form-signin w-100 m-auto">
      <form action="{% url 'sign_in' %}?next={{ next|absolute_url|safe }}" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating mb-2">
          <input type="text" name="username" autocomplete="username" class="form-control" id="floatingInput" placeholder="Username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2022</p>
      </form>
    </main>
{% endblock %}
